<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet"  href="/stylesheets/styles.css" />
<title>Cairns Waves</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Date Time', 'Avg', 'Max'],
{% for record in records %}
    {% if record.Hmax|float > 0 %}
            [new Date({{ record.Seconds }} * 1000), {{ record.Hsig|float|round(2) }}, {{ record.Hmax|float|round(2) }}]{% if not loop.last %},{% endif %}
    {% endif %}
{% endfor %}
        ]);
        
        data.addColumn('number', 'Forecast');
        data.setValue(data.getNumberOfRows()-1, 3, data.getValue(data.getNumberOfRows()-1, 2))
        
{% for record in forecast %}
        var row_index = data.addRow();
        data.setValue(row_index, 0, new Date({{ record.Seconds }} * 1000));
        data.setValue(row_index, 3, {{ record.Waves|float|round(2) }});
{% endfor %}        

        var options = {
            title: 'Cairns Waves',
            hAxis: {
            	title: 'Time',
                format: ["EEE\nd'th'"],
                gridlines: { count: 15 },
                titleTextStyle: {color: '#333'}
            },
            vAxis: {title: 'Wave Height (m)', minValue: 0},
            series: {
            	1: {
            		color: 'red',
            		areaOpacity: 0.2
            	},
                2: {
                	lineDashStyle: [4, 4],
                	color: 'red',
                	areaOpacity: 0.2
                }
            }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
</head>
<body>

<div id="chart_div"></div>

{% if debug|length > 0 %}

<div class="statistics">
<table>
    <tr>
        <th>Date Time</th>
        <th>Avg Height</th>
        <th>Max Height</th>
        <th>Direction</th>
        <th>Temperature</th>
    </tr>
{% for record in forecast|reverse %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>{{ record.DateTime }}</td>
        <td> </td>
        <td>{{ record.Waves|float|round(2) }}</td>
        <td>{{ record.Direction }}</td>
        <td> </td>
    </tr>
{% endfor %}

{% for record in records|reverse %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>{{ record.DateTime|replace('T', ' ') }}</td>
        <td>{{ record.Hsig|float|round(2) }} </td>
        <td>{{ record.Hmax|float|round(2) }}</td>
        <td>{{ record.Direction|float|round(2) }}</td>
        <td>{{ record.SST }}</td>
    </tr>
{% endfor %}
</table>
</div>

    {% for log in debug %}
    <br>
    <span>{{ log }} </span>
    <br>
    {% endfor %}
    
{% endif %}

</body>
</html>